<template>
  <div class="body-wrapper">
    <div class="body-card_block">
      <CardBlock
        @passCard="openCardInModal"
        :reload-card="reloadCard"
        :search-text="searchText"
      />
    </div>
    <div class="body_action_button_wrapper">
      <div class="body-action_button" @click="openEmptyCard"><p>+</p></div>
    </div>
    <transition name="fade">
      <ModalWindow
        v-show="modalOpened"
        :card-exists="cardPassed"
        :card="card"
        @closeModal="handleModalClose"
      />
    </transition>
  </div>
</template>

<script lang="ts">
import { defineComponent, ref, reactive } from "vue";
import CardBlock from "@/components/CardBlock.vue";
import ModalWindow from "@/components/ModalWindow.vue";
import UrlCard from "@/types/UrlCard";

export default defineComponent({
  name: "Body",
  components: { ModalWindow, CardBlock },
  props: {
    searchText: {
      // Отвечает за передачу данных в компонент CardBlock для фильтрации по значению
      required: false,
      type: String,
    },
  },
  setup() {
    const modalOpened = ref(false); // Отвечает за открытые/закрытие модального окна
    const cardPassed = ref(false); // Флаг передачи карточки в модальное окно для заполнения/незаполнения значения
    const reloadCard = ref(false); // Флаг который при изменении обновляет карточки в CardBlock
    const emptyCard = {
      //Пустая карточка для передачи в модальное окно, когда создается новая запись
      url: "",
      description: "",
      alias: "",
      name: "",
    } as UrlCard;
    const card = reactive<UrlCard>(emptyCard); // Реактивная карточка, передается в Modalwindow
    return {
      emptyCard,
      modalOpened,
      cardPassed,
      card,
      reloadCard,
    };
  },
  methods: {
    handleModalClose(updateCardBlock: boolean) {
      // Обработчик закрытия модального окна, если карточка была добавлена или удалена
      if (updateCardBlock) {
        // То изменяет реактивную переменную и дергается обновление карточек в CardBlock
        this.reloadCard = !this.reloadCard;
      }
      this.modalWindowOpenClose();
    },
    modalWindowOpenClose() {
      // Закрывает/открывает модальное окно
      this.modalOpened = !this.modalOpened;
    },
    openCardInModal(card: UrlCard) {
      // Обработчик события нажатия на конкретную карточку, передает данные карточки в ModalWidow и открывает окно
      this.card = card;
      this.cardPassed = true;
      this.modalWindowOpenClose();
    },
    openEmptyCard() {
      // Обработчик события  нажания на action button, открывает пустое модальное окно
      this.card = this.emptyCard;
      this.cardPassed = false;
      this.modalWindowOpenClose();
    },
  },
});
</script>

<style scoped>
.body-wrapper {
  display: grid;
  grid-template-columns: 1fr 600px 1fr;
  grid-template-rows: 1fr;
}

.body-card_block {
  display: grid;
  grid-column: 2;
  grid-row: 1;
}

.body_action_button_wrapper {
  grid-column: 3;
  grid-row: 1;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  padding-right: 100px;
  padding-bottom: 50px;
}

.body_action_button_wrapper p {
  display: flex;
  align-items: center;
  justify-content: center;
}

.body-action_button {
  width: 70px;
  height: 70px;
  background-color: var(--seconday-color);
  border-radius: 50%;
  box-shadow: 0 6px 10px 0 #666;
  transition: all 0.1s ease-in-out;

  font-size: 50px;
  line-height: 70px;
  color: white;
  text-align: center;
}

.body-action_button:hover {
  box-shadow: 0 6px 14px 0 #666;
  transform: scale(1.05);
}

.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.2s ease;
}

.fade-enter-from,
.fade-leave-to {
  opacity: 0;
}
</style>
