<template>
  <div class="card-wrapper">
    <h3 class="card-header">
      <a :href="card.url" target="_blank" rel="noopener noreferrer">
        {{ card.name }}
      </a>
    </h3>
    <p class="card-description" @click="$emit('cardClicked', card)">
      {{ card.description }}
    </p>
    <h2 class="card-alias">{{ card.alias.toUpperCase() }}</h2>
  </div>
</template>

<script lang="ts">
import { defineComponent, PropType } from "vue";
import UrlCard from "../types/UrlCard";

export default defineComponent({
  name: "Card",
  props: {
    card: {
      required: true,
      type: Object as PropType<UrlCard>,
    },
  },
});
</script>

<style scoped>
.card-wrapper {
  background-color: #fff;
  margin-bottom: 15px;
  box-sizing: border-box;
  border-radius: 10px;
  height: 110px;
  width: 80%;
  display: grid;
  grid-template-columns: 1fr 80px;
  grid-template-rows: 50px 60px;
  box-shadow: var(--shadow-stand);
  transition: all 0.3s ease-out;
}

.card-wrapper:hover {
  transform: scale(1.05);
  box-shadow: var(--shadow-hover);
}

.card-header {
  grid-column: 1;
  grid-row: 1;
  padding: 15px;
  font-weight: 500;
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
}

a {
  color: inherit; /* blue colors for links too */
  text-decoration: inherit; /* no underline */
}

.card-description {
  grid-column: 1;
  grid-row: 2;
  padding: 15px;
  font-size: 15px;
  color: rgba(46, 44, 45, 0.57);
}

.card-alias {
  grid-column: 2;
  grid-row: span 2;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 500;
  font-size: 28px;
  background: rgba(98, 113, 123, 0.3);
  border-radius: 0 10px 10px 0;
}
</style>
