<template>
  <div class="card_block-wrapper">
    <Card
      v-for="card in cards"
      v-bind:key="card.url"
      :card="card"
      @cardClicked="passCard"
    />
  </div>
</template>

<script lang="ts">
import { defineComponent, reactive, onMounted } from "vue";
import UrlCard from "@/types/UrlCard";
import { UrlCardApi as urlCardApi } from "@/api/UrlCardApi";
import Card from "@/components/Card.vue";

export default defineComponent({
  name: "CardBlock",
  components: { Card },
  props: {
    reloadCard: {
      // Флаг обновления карточки
      required: false,
      type: Boolean,
    },
    searchText: {
      // Отвечает за фильтрацию карточек без вызова API
      required: true,
      type: String,
    },
  },
  watch: {
    reloadCard() {
      // При изменении флага очищает массив и обновляет данные из API
      this.urlCards.length = 0;
      this.getCards();
    },
  },
  computed: {
    // Computed property используется для фильтрации карточек, когда searchText изменяется, карточки фильтруются и отображаются на странице
    cards(): UrlCard[] {
      return this.urlCards.filter((card: UrlCard) => {
        return card.name.includes(this.searchText);
      }, this);
    },
  },
  setup() {
    const urlCards = reactive<UrlCard[]>([]);
    const getCards = () => {
      // Вызов API для получения карточек
      urlCardApi.getUrls().then((response) => {
        response.forEach((element: UrlCard) => {
          urlCards.push(element); // Делаю push, хотя response: UrlCard[], при прямом присваивании (urlCards = response) перетирает свойство reactive
        });
      });
    };
    onMounted(getCards); // Хук после загрузки страницы
    return {
      urlCards,
      getCards,
    };
  },
  methods: {
    passCard(value: UrlCard) {
      // Событие при нажатии на карточку, передает значения выше по дереву компонентов
      this.$emit("passCard", value);
    },
  },
});
</script>

<style scoped>
/* hide scrollbar but allow scrolling */
.card_block-wrapper {
  -ms-overflow-style: none; /* for Internet Explorer, Edge */
  scrollbar-width: none; /* for Firefox */
  overflow-y: scroll;
  overflow-x: visible;
  scroll-behavior: smooth;
  height: calc(100vh - 60px);
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card_block-wrapper::-webkit-scrollbar {
  display: none; /* for Chrome, Safari, and Opera */
}
</style>
