<template>
  <div id="modal-blur" @click="blurClick">
    <form class="adding_form" @submit="onSubmit">
      <div class="text_input">
        <label>Name</label> <input class="input" v-model="name" /><span
          class="help-message"
          >{{ errors.name }}</span
        >
      </div>
      <div class="text_input">
        <label>Url</label>
        <input class="input" v-model="url" />
        <span class="help-message">{{ errors.url }}</span>
      </div>
      <div class="text_input">
        <label>Description</label>
        <input class="input" v-model="description" />
        <span class="help-message">{{ errors.description }}</span>
      </div>
      <div class="text_input">
        <label>Alias</label>
        <input class="input" v-model="alias" />
        <span class="help-message">{{ errors.alias }}</span>
      </div>
      <button class="add-btn" v-if="!cardExists" type="submit">Добавить</button>
      <div class="buttons-wrapper">
        <button class="update-btn" v-if="cardExists" type="submit">
          Обновить
        </button>
        <button
          v-if="cardExists"
          class="delete-btn"
          type="button"
          @click="deleteCard(url)"
        >
          Удалить
        </button>
      </div>
    </form>
  </div>
</template>

<script lang="ts">
import { defineComponent, PropType } from "vue";
import { UrlCardApi as urlCardApi } from "@/api/UrlCardApi";
import * as yup from "yup";
import UrlCard from "@/types/UrlCard";
import { useField, useForm } from "vee-validate";
import { useToast } from "vue-toastification";

export default defineComponent({
  name: "ModalWindow",
  props: {
    cardExists: {
      // Отвечает за отображение кнопок при нажатии на существующую карточку
      required: true,
      type: Boolean,
    },
    card: {
      // Получаемая карточка из Body
      required: true,
      type: Object as PropType<UrlCard>,
    },
  },
  watch: {
    card(newCard: UrlCard) {
      // Наблюдатель за изменением prop card, если передана пустая карточка, то очищает форму, иначе присваивает локальным переменным значения карточки для валмдации
      if (newCard.name == "") {
        this.resetForm();
      } else {
        [this.name, this.description, this.alias, this.url] = [
          newCard.name,
          newCard.description,
          newCard.alias,
          newCard.url,
        ];
      }
    },
  },
  setup(props, { emit }) {
    const toast = useToast(); // Библиотека для уведомлений

    const schema = yup.object({
      // Библиотека для валидации данных, описываем поля и их правила
      url: yup.string().required("URL обязателен"),
      description: yup
        .string()
        .required("Введите небольшое описание")
        .max(50, "Не более 50-ти символов"),
      name: yup.string().required("Наименование обязательно"),
      alias: yup
        .string()
        .required("Задайте короткое название до 3-х символов")
        .max(3, "Не более 3-х символов"),
    });

    const { errors, meta, handleSubmit, resetForm } = useForm({
      // Создаем объект формы и получаем их него нужные методы
      validationSchema: schema,
    });

    const { value: name } = useField("name"); // Объявляем поле, которые используются в форме (useForm) и присваиваем их модели к локальным переменным
    const { value: url } = useField("url");
    const { value: description } = useField("description");
    const { value: alias } = useField("alias");

    const handleModalClose = (message: string, isSuccess: boolean) => {
      //Обработчик закрытия модального окна, выводит уведомление и говорит родительскому компоненту надо ли перезагружать карточки или закрывать карточку
      if (isSuccess) {
        resetForm();
        emit("closeModal", true);
        toast.success(message, {
          timeout: 2000,
        });
      } else {
        toast.error(message, {
          timeout: 3000,
        });
      }
    };

    const putCard = (urlCard: UrlCard) => {
      //Api для обновления или добавления карточки
      urlCard.updated = props.cardExists;
      urlCardApi
        .putUrl(urlCard)
        .then(() => {
          if (!urlCard.updated) {
            handleModalClose(`${urlCard.name} Добавлен`, true);
          } else {
            handleModalClose(`${urlCard.name} обновлен`, true);
          }
        })
        .catch((err) => {
          if (!urlCard.updated && err.response.status == 400) {
            handleModalClose(`${err.response.data.error}`, false);
          } else {
            handleModalClose("Ошибка, смотри консоль", false);
            console.log(err.response); // eslint-disable-line no-console
          }
        });
    };

    const deleteCard = (url: string) => {
      // Api для удаления карточек
      urlCardApi
        .deleteUrl(url)
        .then(() => {
          handleModalClose(`${url} удален `, true);
        })
        .catch((err) => {
          handleModalClose("Ошибка, смотри консоль", false);
          console.log(err.response);
        });
    };

    const onSubmit = handleSubmit((values) => {
      // Обработчик Submit формы из useForm, принимает значения формы и вызывает API
      putCard(values as UrlCard);
    });
    return {
      deleteCard,
      resetForm,
      onSubmit,
      meta,
      errors,
      name,
      url,
      description,
      alias,
    };
  },
  methods: {
    blurClick($event: Event) {
      //Обработчик нажатия на blur, проверяет нажал ли пользователь именно на blur, а не на карточк,  Закрывает без обновления карточек
      if ($event.target === document.getElementById("modal-blur")) {
        this.$emit("closeModal", false);
      }
    },
  },
});
</script>
<style scoped>
#modal-blur {
  position: absolute;
  z-index: 2;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.adding_form {
  padding: 25px;
  z-index: 100;
  width: 500px;
  height: 500px;
  background: var(--bg-color);
  position: relative;
  border-radius: 20px;
}

.text_input {
  position: relative;
  margin-bottom: calc(1em * 1.5);
  width: 100%;
}

label {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #2c3e50;
  display: block;
  margin-bottom: 4px;
  margin-left: 2px;
  width: 100%;
}

.input {
  border-radius: 5px;
  border: 2px solid transparent;
  padding: 15px 10px;
  outline: none;
  background-color: #f2f5f7;
  width: 100%;
  transition: border-color 0.3s ease-in-out, color 0.3s ease-in-out,
    background-color 0.3s ease-in-out;
}

input:focus {
  border-color: #448aff;
}

.help-message {
  position: absolute;
  bottom: calc(-1.5 * 1em);
  left: 0;
  margin: 0;
  font-size: 14px;
  color: red;
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.buttons-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 40px;
}
.add-btn {
  background: #448aff;
  outline: none;
  border: none;
  color: #fff;
  font-size: 18px;
  padding: 10px 15px;
  display: block;
  width: 100%;
  border-radius: 7px;
  margin-top: 40px;
  transition: transform 0.3s ease-in-out;
  cursor: pointer;
}

.add-btn:hover {
  transform: scale(1.1);
}

.update-btn {
  background: #448aff;
  outline: none;
  border: none;
  color: #fff;
  font-size: 18px;
  width: 70%;
  padding: 10px;
  border-radius: 7px;
  transition: transform 0.3s ease-in-out;
  cursor: pointer;
}

.update-btn:hover {
  transform: scale(1.05);
}

.delete-btn {
  background: #b00020;
  outline: none;
  border: none;
  color: #fff;
  font-size: 18px;
  padding: 10px;
  width: 30%;
  border-radius: 7px;
  margin-left: 10px;
  transition: transform 0.3s ease-in-out;
  cursor: pointer;
}

.delete-btn:hover {
  transform: scale(1.05);
}
</style>
