<template>
  <div class="nav-wrapper">
    <div class="nav-logo">
      <svg
        id="Capa_1"
        enable-background="new 0 0 511.034 511.034"
        height="512"
        viewBox="0 0 511.034 511.034"
        width="512"
        xmlns="http://www.w3.org/2000/svg"
      >
        <g>
          <path
            d="m255.517 0-221.284 127.758v255.517l221.284 127.759 221.284-127.759v-255.517zm15 151.418h135.303l-135.304 78.118v-78.118zm-30 78.118-135.304-78.118h135.304zm-14.499 26.27-68.059 39.08-67.876-117.563zm14.499 26.267v155.802l-67.557-117.01zm30-.576 67.652 39.059-67.652 117.177zm15-25.98 135.304-78.118-67.652 117.177zm-15-134.099v-78.117l135.304 78.118h-135.304zm-30 0h-135.304l135.304-78.118zm-176.284 71.132 67.711 117.275-67.711 38.88zm82.71 143.255 67.469 116.857-135.118-78.012zm217.206-.249 67.652 39.059-135.304 78.118zm15-25.981 67.652-117.177v156.235z"
          />
        </g>
      </svg>
    </div>
    <div class="nav-env">
      <input
        class="tgl tgl-flip"
        id="cb5"
        type="checkbox"
        v-model="is_prod_env"
      />
      <label
        class="tgl-btn"
        data-tg-off="DEV"
        data-tg-on="PROD"
        for="cb5"
      ></label>
    </div>
    <div class="nav-searchbar">
      <div class="search_box">
        <label>
          <input
            type="text"
            class="input"
            placeholder="search..."
            v-model="searchText"
          />
        </label>
        <div class="btn btn_common">
          <i class="fas fa-search"></i>
        </div>
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import { defineComponent } from "vue";
import { ref } from "vue";

export default defineComponent({
  name: "Navbar",
  watch: {
    searchText(newValue: string) {
      this.$emit("filterCard", newValue); // Просмотр за изменением переменной searchText
    }, // отправляет событие и данные в верхний компонент App.vue при каждом изменени
  },
  setup() {
    const is_prod_env = ref(false);
    const searchText = ref(""); //Реактивная переменная которая отвечает за поиск в карточках, привязана к input
    return {
      is_prod_env,
      searchText,
    };
  },
});
</script>

<style scoped>
.nav-wrapper {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: 1fr;
  background-color: var(--primary-color);
}

.nav-logo {
  grid-column: 1;
  grid-row: 1;
  padding-left: 20px;
}

.nav-logo svg {
  fill: var(--seconday-color);
  vertical-align: middle;
  height: 50px;
  width: 50px;
}

.nav-env {
  grid-column: 3;
  grid-row: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav-searchbar {
  grid-column: 6/8;
  grid-row: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* SearchBar */

.nav-searchbar .input {
  border: 0;
  outline: none;
}

.search_box {
  position: relative;
  width: 600px;
  height: 30px;
  box-shadow: var(--shadow-stand);
  transition: all 0.3s ease-out;
}
.search_box:hover {
  box-shadow: var(--shadow-hover);
  transform: scale(1.05);
}

.search_box .input {
  width: 100%;
  height: 100%;
  padding: 10px 20px;
  border-radius: 3px;
  font-size: 18px;
}

.search_box .btn {
  position: absolute;
  top: 0;
  right: 0;
  width: 60px;
  height: 100%;
  background: var(--seconday-color);
  cursor: pointer;
  border-radius: 0 3px 3px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search_box .btn:hover {
  background: #03998a;
}

/* Кнопка выбора среды */
.tgl {
  display: none;
}

.tgl,
.tgl:after,
.tgl:before,
.tgl *,
.tgl *:after,
.tgl *:before,
.tgl + .tgl-btn {
  box-sizing: border-box;
}

.tgl::selection,
.tgl:after::selection,
.tgl:before::selection,
.tgl *::selection,
.tgl *:after::selection,
.tgl *:before::selection,
.tgl + .tgl-btn::selection {
  background: none;
}

.tgl + .tgl-btn {
  outline: 0;
  display: block;
  width: 4em;
  height: 2em;
  position: relative;
  cursor: pointer;
  user-select: none;
}

.tgl + .tgl-btn:after,
.tgl + .tgl-btn:before {
  position: relative;
  display: block;
  content: "";
  width: 50%;
  height: 100%;
}

.tgl + .tgl-btn:after {
  left: 0;
}

.tgl + .tgl-btn:before {
  display: none;
}

.tgl:checked + .tgl-btn:after {
  left: 50%;
}

.tgl-flip + .tgl-btn {
  padding: 2px;
  transition: all 0.2s ease;
  font-family: sans-serif;
  perspective: 100px;
}

.tgl-flip + .tgl-btn:after,
.tgl-flip + .tgl-btn:before {
  display: inline-block;
  transition: all 0.4s ease;
  width: 100%;
  text-align: center;
  position: absolute;
  line-height: 2em;
  font-weight: bold;
  color: #fff;
  top: 0;
  left: 0;
  backface-visibility: hidden;
  border-radius: 4px;
}

.tgl-flip + .tgl-btn:after {
  content: attr(data-tg-on);
  background: #02a9c6;
  transform: rotateY(-180deg);
}

.tgl-flip + .tgl-btn:before {
  box-shadow: var(--shadow-hover);
  background: var(--primary-darken-color);
  content: attr(data-tg-off);
}

.tgl-flip + .tgl-btn:active:before {
  transform: rotateY(-20deg);
}

.tgl-flip:checked + .tgl-btn:before {
  transform: rotateY(180deg);
}

.tgl-flip:checked + .tgl-btn:after {
  transform: rotateY(0);
  left: 0;
  background: #7fc6a6;
}

.tgl-flip:checked + .tgl-btn:active:after {
  transform: rotateY(20deg);
}
</style>
