<template>
  <div class="app_wrapper">
    <div class="nav">
      <Navbar @filterCard="filterCards" />
    </div>
    <div class="body">
      <Body :search-text="searchText" />
    </div>
  </div>
</template>

<script lang="ts">
import { defineComponent, ref } from "vue";
import Navbar from "@/components/Navbar.vue";
import Body from "@/components/Body.vue";

export default defineComponent({
  name: "App",
  components: { Body, Navbar },
  setup() {
    const searchText = ref(""); // Реактивная переменная, которая отвечает за передачу текста для поиска из Navbar
    return { searchText };
  },
  methods: {
    filterCards(searchText: string) {
      // Фукнция принимает значение из событыя @filterCard и передает его в prop Body
      this.searchText = searchText;
    },
  },
});
</script>

<style>
:root {
  --bg-color: #ffffff;
  --primary-color: #03a9f4;
  --primary-darken-color: #039be5;
  --seconday-color: #ffc107;
  --shadow-stand: 0 6px 10px rgba(0, 0, 0, 0.08), 0 0 6px rgba(0, 0, 0, 0.05);
  --shadow-hover: 0 10px 20px rgba(0, 0, 0, 0.12), 0 4px 8px rgba(0, 0, 0, 0.06);
}

* {
  margin: 0;
  box-sizing: border-box;
}

#app {
  font-family: "Nunito", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.app_wrapper {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 50px 1fr;
  width: 100vw;
  height: 100vh;
}

.nav {
  grid-column: 1;
  grid-row: 1;
  width: 100%;
  height: 100%;
}

.body {
  grid-column: 1;
  grid-row: 2;
  width: 100%;
  height: 100%;
  background-color: #f2f4f8;
}
</style>
